.carousel-item{
    max-height: 100%;
    max-width: 100%;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
}

.carousel {
    max-height: 600px;
    max-width: 1000px;
}

@media (max-width: 567px) {
    .nav-bottom {
        position: fixed;
        bottom: 0%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    
}

body {
    height: 1000px;
}
