{% extends "base.html" %}}

{% block app_content %}

    <h1 class="username">{{ user.username }} {{ user.surname }}</h1>
    {% if current_user==user %}
        <p class="url"><a href="{{ url_for('edit_profile', id=current_user.id) }}">Edit profile</a> </p>
    {% elif current_user.is_following(user) %}
            {% if current_user.is_friend(user) %}
                <h2>Your friend</h2>
            {% endif %}
        <a class="subscription" href="{{ url_for('unfollow', id=user.id) }}">Unfollow</a>
    {% else %}
        <a class="subscription" href="{{ url_for('follow', id=user.id) }}">Follow</a>
    {% endif %}

    {% include "_post.html" %}
    <div class="pages">
    <a href="prev_url{% if not prev_url %} '#'{% endif %}">Newer posts</a>
    <a href="next_url{% if not next_url %} '#'{% endif %}">Older posts</a>
    </div>

{% endblock %}